*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}*
html, body {
  height: 100%;
  margin: 0;
}
h1, h2, h3, h4, h5,span{
    font-family: 'Merriweather','Roboto Slab','BirchStd','Oswald', "Times New Roman", Times, serif;
    font-weight: 300;
    line-height: 1.125em;
}
h2{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
}
h3{
    font-size: 26px !important;
}
p{
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
.link{
    text-decoration: underline;
}
.colordark{
    color:#5E5B5B;
}


.navbar {
    padding: 0 !important;
    background-image: url(../image/background/bg-grunge-black.jpg)!important;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbarcontent{
    
    width: 90% !important;
    margin: 0 auto !important;
    
}
.navbar-branch img{
    margin-top: -30px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.navbar a{
        color:#cccccc !important;
        font-weight: 300;
        font-size: 20px;
    font-family: 'Oswald',Helvetica,Arial,sans-serif;
    letter-spacing: 0.05em;
}
/*Chinh mau thanh menu mobile*/
.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3) !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.dropdown-menu a{
    color:black !important;
    font-weight: 300;
    font-size: 20px;
}

/* chinh sua cau noi banner*/
.carousel-caption h4{
    text-shadow: 5px 5px 40px brown;
}

/*chinh sua nut reservation banner */
.btn-primary{
    background-color: rgb(82,64,120) !important;
    border: 0 !important;
}

.btn-primary:hover{
    background-color: rgb(82,64,100) !important;
    border: 0 !important;
}

/* chinh sua thanh social duoi banner*/
#socialcontact{
    bottom:0px;
    position: absolute;
    z-index: 999;
    height: 3rem;
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
    padding: 10px; 
}
#socialcontact .icon{
    display: flex;
    justify-content: center;
    color: #fff;
}

#socialcontact .icon i{
    margin-left: 2.5rem;
    color: white;
    
    
}
#socialcontact .fa-facebook-square {
  margin-left: 0px !important;
}
.icon i:hover{
    color:black;
    transition: color 300ms;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.fa-facebook-f{
   
    
}
/* */
.menu{
    
    width: 100%;
    background-image: url(../image/background/bg-grunge-cream.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
        

        
}
.menu-content{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    

}
.menubutton{
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color:#775B44;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.5em 2em 0.5em 2em;
    transition: background-color 300ms;
    vertical-align: baseline;
    color:#FFFFFF;
}
.veg{
   
}
.freshveg{
    background-image: url(../image/background/freshveg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 39rem;;
   
}
.freshveg-content{
    width: 90%;
    margin: 0 auto !important;
    
    
    
}
.freshveg-content .content-box{
    width: 50%;
    height: auto;
    font-size:1.8em;
    color:#5e5b5b;
    background-color: rgba(255, 255, 255,0.8 );
    text-align: center;
    text-shadow: 1px 1px 30px black;
    box-shadow: 5px 5px 20px;
    
}
.content-box{
    width: 50%;
    height: auto;
    font-size:1.8em;
    color:#5e5b5b;
    background-color: rgba(255, 255, 255,0.8 );
    text-align: center;
    text-shadow: 1px 1px 30px black;
    box-shadow: 5px 5px 20px;
    
}
.content-box p{
    font-size: 1rem;
    
}
@media only screen and (min-width:800px){
.content-box p{
    font-size: 1.5rem;
    
}
}
.bar{
    
    /*background-image: url(../image/background/bg-grunge-black.jpg);
    background-size: cover;*/
    background-color: black;
    color: #ded6c0;
    text-align: center;
    height: 33rem;
}
.bar-content{
    width: 90%;
    margin: 0 auto;
    
    
}
.drinkbutton{
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color:#DED6c0;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 0.5em 2em 0.5em 2em;
    transition: background-color 300ms;
        vertical-align: baseline;
    color:#222222;
}

.cozy{
    background-image: url(../image/background/Int1.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 39rem;
}
.cozy-content{
    width: 90%;
    margin: 0 auto;
    
    
}





footer {
    background-size: cover;
/*background-color:rgb(17,17,17);*/
    background-image: url(../image/background/bg-grunge-black.jpg);
padding-bottom: 2.5rem;
}
footer h4{
    height: 5rem;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    padding: 20px 40px 20px 0;
    color: #ded6c0;
    border-bottom: 0.5px solid #ded6c0;
}
footer p{
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    color: #ffffff;
    
}

footer .icon{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
   
}
footer .icon a {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
}
.fab{
    width: 15px !important;
    height:30px !important;
    
}
.icon i{
    
    
    
}
.icon i:hover{
    color:black;
    transition: color 300ms;
    transition-property: color;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.delivery p{
    display: flex;
    flex-direction: column;
    
}
.delivery a {
    padding-bottom: 10px;
    
}
.copyright-content{
    
    width: 90%;
    margin: 0 auto;}
.copyright-content p a{
    border: 1px solid green;
}
@media only screen and (max-width:1120px){
.block-text{
   
}
}
@media only screen and (max-width:800px){
.col{
        color:red !important;
        width:100%;
    }
.copyright-content{
 text-align: center;}
   
}
@media only screen and (min-width:800px){
#carouselBanner{ 
 height: 100%;
overflow: hidden;
}
#socialcontact{
    top:60%;
    position: absolute;
    z-index: 999;
    height: 3rem;
    width: 100%;
    background-color: rgba(0, 0, 0,0.5);
    padding: 10px; 
}
}
@media only screen and (min-width:800px){
#carouselBanner{
    max-height: 570px;
    }}
@media only screen and (min-width:1164px){
#carouselBanner{
    max-height: 800px;
    }}
@media only screen and (min-width:1654px){
#carouselBanner{
    max-height: 900px;
    }}
@media only screen and (min-width:1877px){
#carouselBanner{
    max-height: 1100px;
    }}
@media only screen and (min-width:1877px) and (max-width:2800px){
#carouselBanner{
    max-height: 100%;
    }}
#carousel-inner img{
    object-position: center !important;
}
@media only screen and (min-width:600px) and (max-width:1045px){
.bar{
    
    /*background-image: url(../image/background/bg-grunge-black.jpg);
    background-size: cover;*/
    background-color: black;
    color: #ded6c0;
    text-align: center;
    height: 38rem;
}
}
/* */

/* */

/* */

/* */

/* */

/* */